
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/jquery-easyui-1.5.5.6/jquery.min.js"></script>
</head>
<body>
    <form id="fm1" method="post">
        <input id="fm1_ids" name="Ids" type="hidden" />

        <input name="Name" type="text" />
        <input name="Age" type="hidden" value="32" />
    </form>
    <button onclick="submit()">提交</button>
</body>
</html>

<script>

    function submit() {

        var arr = [1, 2, 3];
        var json = JSON.stringify(arr);
        $('#fm1_ids').val(json);

        

        var formObj = {};
        var members = $('#fm1').serializeArray();
        $.each(members, function (i, obj) {
            formObj[obj.name] = JSON.parse(obj.value);
        });


        var url = '@Url.Action("Submit","FormTest")';

        $.post(url, formObj, function (r) { });
        
    }



</script>